table {
  width: 100%;
}

tr.user-detail-row {
  height: 0;
}

tr.user-element-row:not(.user-expanded-row):hover {
  background: whitesmoke;
}

tr.user-element-row:not(.user-expanded-row):active {
  background: #efefef;
}

.user-element-row td {
  border-bottom-width: 0;
}

.user-element-detail {
  overflow: hidden;
  display: flex;
}
